.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}


.noto-headings {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
* {
  box-sizing: border-box;
}
html, body {
    background-color: #f5f8ff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    width: 90%;
    margin: 2rem auto;
    position: relative;
}

.nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 415px;
    width: 100%;
    min-height: 24px;
    list-style: none;
}
.nav-link {
    display: flex;
    gap: 3rem;
}

.nav li a img {
    width: 1.5rem;   
    vertical-align: middle;
}
#home {
    color: #252432;
    font-weight: 700;
}
#cart {
    color: black;
}
#pink {
    color: #8987A1;
}
/* Banner */
.banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    max-width: 100%;
    width: 80vw;
    height: auto;
    margin: 13rem auto 7.5rem;
}
.banner-text {
    width: 50%;
    min-width: 299px;
}
h1 {
    color: #E95A08;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.5rem;
    width: 100%;
    min-height: 178px;
    margin: 0;
}
.h1-black {
    color: #000;
}
.banner p {
    align-content: end;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 0;
    width: 100%;
    min-height: 108px;
}
.banner-img {
    max-width: 50%;
    height: auto;
}